* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f4f3;
}

/*MAIN*/
/*header*/
 .logo img {
    width: 100px;
    display: block;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    background-color: #000000;
    color: #f6f4f3;
}

/*banner*/
#banner {
    background-image: url(imagenes/banner.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    
}

#banner h1 {
    font-size: 3rem;
    padding-bottom: 25px;
}

#banner p {
    font-size: 1rem;
}

/*cards*/
.container {
    width: 100%;
    display: flex;
    margin: 50px 0px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 50%;
}

.card .content {
    padding: 15px;
    text-align: center;
}

.card .content h2 {
    margin-bottom: 15px;
}

.card .content p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card .content a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: brown;
    border: 1 solid brown;
    border-radius: 5px;
    transition: all 400ms ease;
}

.card .content a:hover {
    background: brown;
    color: #ffffff;
}

/*footer*/
.foot {
    background-color: #ffbd59;
    padding: 20px;
    font-size: 25px;
    line-height: 1.5;
}

.foot_2 p {
    text-align: center;
    margin-bottom: 15px;
}

/*HISTORIA*/
#history {
    width: 80%;
    padding: 20px;
    margin: 50px auto;
    line-height: 1.5;
    background-color: lightblue;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: justify;
}

#history img {
    width: 300px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}

#history h1 {
    font-size: 30px;
}
#history p {
    font-size: 18px;
}

/*TORNEOS*/
.colum {
    display: flex;
    flex-direction: column;
    width: 100vw;

}

.colum img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
    border-top: 5px solid #000000;
    border-right: 5px solid #000000;
}

.text {
    text-align: center;
    margin: 50px 30px;

}

.text h1 {
    font-size: 36px;
    margin-top: 15px;
}

.text p {
    text-align: justify;
    font-size: 18px;
    line-height: 2;
    padding: 15px;
}

#slam {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 50px auto;
}

#slam .row {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    line-height: 1.5;
    text-align: justify;
}

#slam .row img {
    width: 50%;
    height: auto;
    max-width: 300px;
    margin: auto 15px;
}

#slam .row img.izq {
    float: left;
}

#slam .row img.der {
    float: right;
}

#slam .row h2 {
    font-size: 30px;
    margin: 0px 15px;
    text-align: center;
}

#slam .row p {
    font-size: 18px;
    margin: 0px 15px;
}

/* JUGADORES */

